body {
  margin: 0;
  font: 400 20px/35px 'Inter',sans-serif;
  color: #010201; 
}
.wraper { 
  max-width: 1440px;
  margin: auto;
  /* padding: 0 110px; */
  box-sizing: border-box;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: 'inika',sans-serif;
  background-color: #EDF2EC;
  padding: 0 110px;
}
.navigation{
  display: flex;
  margin: 0;
  padding: 0;
  }
.navigation__item{
  list-style: none;
  margin: 42px 19px;

}
.navigation__link{
  text-decoration: none;
  color: #010201;
  font-size: 16px;
  line-height: 50px;
}
.navigation__link:hover{
  color: #E06733;
  font-weight: 700;
}


.hometext_colored{
  color: #499A18;
}
.home__title{
  color: #717171;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
}
.home{
  display: flex;
  background-color: #EDF2EC;
  padding: 0 110px;
}
.home__img-holder{
  padding: 62px 224px 52px 0;
}
.home__column{
  padding: 98px 0 88px;
}
.home__text{
  margin: 42px 0 48px;
  color: #636060;
  font-size: 20px;
  line-height: 35px;
}
.button__h{
  border-radius: 10px;
  border: 2px solid #E06733;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 27px; 
  text-align: center;
}
.button__h:hover{
  background-color: #E06733;
  color: #FFFFFF;
  transition: all 1s;
  cursor: pointer;
}

.about-us{
  display: flex;
  /* height: 666px; */
  background-color: #FFFFFF;
  padding: 0 110px;
}

.about-us__img-holder{
  padding: 93px 0 94px 153px;
  margin: 0;
}
.about-us__title{
  font: 40px/52px 'inika',sans-serif;
  color: #E06733;
  padding: 161px 0 0 0;
  margin: 0;
  height: 463;
}
.about-ustext_colored{
  color:#499A18;
}
.about-us__text{
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  padding: 40px 0 155px 0;
  margin: 0;
}
.service{
  background-color: #EDF2EC;
  padding: 0 110px;
}
.service__title{
  color: #499A18;
  font: 40px/52px 'inika',sans-serif;
  width: 306px;
  padding-right: 142px;
  margin: 0;
}
.service__content{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 40px 0 90px;
}
.button_bordered {
  width: 161px;
  border-radius: 5px;
  border: 1px solid #E06733;
  font-size: 20px;
  line-height: 26px;
  padding: 12px 40px; 
  text-align: center;
  color: #E06733;
  margin: 0 38px 0 0px;
  }
  .service__buttons{
    display: flex;
    /* padding: 69px 0 105px 0px; */
  }
  .button_bo3rdered--planting{
    margin-right: 0;
  }
  .button_bordered:hover{
    background-color: #E06733;
    color: #FFFFFF;
    transition: all 1s;
    cursor: pointer;
  }
  .service__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 66px;
  }
  .card__title{
  color: #E06733;
  font: 700 20px/20px 'Inter',sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px 105px;
  }
  .card__info{
  color: #717171;
  font: 400 16px/20px 'Inter',sans-serif;
  text-align: center;
  margin: 0;
  padding: 0px 31.9px 36px 30.91px;
  }
  .card{
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  background-color: #EDF2EC;
  margin-bottom: 55px;
  }
  .price{
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 0 110px;
  }
  .price__title{
  font: 700 40px/48px'Inter',sans-serif;
  color: #000000;
  padding: 40px 635px 60px 0;
  margin: 0;
  }
  .price__type{
  width: 250px;
  font: 700 20px/20px'Inter',sans-serif;
  color: #000000;
  background: #EDF2EC;
  border-radius: 20px;
  padding: 16px 40px;
  margin-bottom: 32px;
  background-image: url("assets/accordion_btn_price.png");
  background-repeat: no-repeat;
  background-position: 284px center;
  }
  .price__type:last-child {
  margin-bottom: 0;
  }
  .price__helper{
  font: 700 40px/50px'Inter',sans-serif;
  color: #000000;
  text-align: end;
  margin: 0;
  padding: 40px 0 38px 0;
  }
  .price__colored{
  color: #499A18;
  }
  .price__button{
  text-align: end;
  }
  .pricebutton_bordered{
  margin: 0 0 39px 0;
  color: #E06733;
  font: 700 20px/26px 'inika',sans-serif;
  border: 1px solid #E06733;
  border-radius: 5px;
  padding: 12px 34px 12px 30px;
  }
  .pricebutton_bordered:hover{
  background-color: #E06733;
  color: #FFFFFF;
  transition: all 1s;
  cursor: pointer;
}
  .price__img-holder{
  text-align: end;
  margin-bottom: 115px;
  }
  .price__tariff{
  display: inline-block;
  padding: 34px 41px;
  background-color: #FFFFFF;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  justify-content: space-around;
  }
.contact{
  display: flex;
  justify-content: space-between;
  background-color: #EDF2EC;
  padding: 0 110px;
}
.contact__title{
  text-align: center;
  color: #499A18;
  font: 700 40px/52px 'inika',sans-serif;
  margin: 0;
  padding-top: 60px 0;
}
.contact__img-holder{
  margin-top: 53;
}
.contact__form{
  align-items: flex-start;
  margin-top: 148px;
}
.contact__button{
  background-color:  #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  padding: 5px 226px 5px 20px;
  font: 400 20px/40px'Inter',sans-serif;
  letter-spacing: 0.05em;
  color: #717171;
  width: 450px;
  border: none;
  text-align: left;
  background-image: url(".//assets/accordion_btn_contacts.png");
  background-repeat: no-repeat;
  background-position: 400px center;
} 
/* footer */
.footer__item{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #000000;
}
.link_github,.link_school{
  text-decoration: none;
  list-style: none;
  color: #000000;
}
.link_school, .link_github, .year{
  font: 400 20px/50px'Inter',sans-serif;;
}
.icon{
  display: flex;
  list-style: none;
  color: #000000;
  align-items: baseline;
  margin: 0;
  padding: 0;
}
.icon_item:last-child {
  margin-right: 0;
}
  .icon_item{
  margin: 48px 30px 48px 0;
  line-height: 20px;
}
.school_link{
  margin: 36px 0;
  align-items:center;
  padding: 0;
}
.footer{
  background-color: #FFFFFF;
  padding: 0 110px;
}