body {
  margin: 0;
  font: 400 20px/35px 'Inter', sans-serif;
  color: #010201;
  transition-property: all;
}

body._lock {
  overflow: hidden;
}

.header__logo {
  z-index: 5;
}

.burger-menu {
  display: none;
}

.wraper {
  max-width: 1440px;
  margin: auto;
}

.wraper-holder {
  padding: 0 110px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: 'inika', sans-serif;
  background-color: #EDF2EC;
  padding: 0 110px;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation__item {
  list-style: none;
  margin: 42px 46px 0 0;

}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  text-decoration: none;
  color: #010201;
  font-size: 16px;
  /* line-height:43px; */

}

.navigation__link:hover {
  color: #E06733;
  font-weight: 700;
}


.hometext_colored {
  color: #499A18;
}

.home__title {
  color: #717171;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
}

.home {
  display: flex;
  background-color: #EDF2EC;
}

.home__img-holder {
  padding: 62px 18.3% 52px 0;
  width: 36.69%;
}

.home__img {
  width: 100%;
}

.home__column {
  width: 45%;
  padding: 98px 0 88px;
}

.home__text {
  margin: 42px 0 48px;
  color: #636060;
  font-size: 20px;
  line-height: 35px;
}

.button__h {
  border-radius: 10px;
  border: 2px solid #E06733;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 25px;
  text-align: center;
}

.button__h:hover {
  background-color: #E06733;
  color: #FFFFFF;
  transition: all 1s;
  cursor: pointer;
}

.about-us {
  display: flex;
  /* height: 666px; */
  background-color: #FFFFFF;
  padding: 0 110px;
}

.about-us__img {
  width: 100%;
}

.about-us__img-holder {
  padding: 93px 0 95px 12.38%;
  margin: 0;
  width: 38.03%;
}

.about-us__content {
  width: 49.59%;
}

.about-us__title {
  font: 40px/52px 'inika', sans-serif;
  color: #E06733;
  padding: 161px 5px 0 0;
  margin: 0;
}

.about-ustext_colored {
  color: #499A18;
}

.about-us__text {
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  padding: 40px 0 155px 0;
  margin: 0;
}

.service {
  background-color: #EDF2EC;
  padding: 0 110px;
}

.service__title {
  color: #499A18;
  font: 40px/52px 'inika', sans-serif;
  width: 306px;
  padding-right: 142px;
  margin: 0;
}

.service__content {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 40px 0 90px;
}

.button_bordered {
  width: 161px;
  border-radius: 5px;
  border: 1px solid #E06733;
  font-size: 20px;
  line-height: 26px;
  padding: 12px 40px;
  text-align: center;
  color: #E06733;
  margin: 0 38px 0 0px;
}

.service__buttons {
  display: flex;
  /* padding: 69px 0 105px 0px; */
}

.button_bordered--planting {
  margin-right: 0;
}

.button_bordered:hover,
.button_bordered.active {
  background-color: #E06733;
  color: #FFFFFF;
  transition: all 1s;
  cursor: pointer;
}

.service__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 66px;
}

.card__title {
  color: #E06733;
  font: 700 20px/20px 'Inter', sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

.card__info {
  color: #717171;
  font: 400 16px/20px 'Inter', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0px 31.9px 36px 30.91px;
}

.card {
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  background-color: #EDF2EC;
  margin-bottom: 55px;
  width: 27%;
  overflow: hidden;
}

.service.blured .card {
  filter: blur(4px);
}

.service.blured .card.not-blured {
  filter: blur(0);
}

.card__img {
  display: block;
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.price {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 0 110px;
}

.price__col1 {
  width: 27.21%;
  min-width: 240px;
}

.price__col2 {
  width: 37.05%;
}

.price__title {
  font: 700 40px/48px'Inter', sans-serif;
  color: #000000;
  padding: 40px 0 60px 0;
  margin: 0;
}

.price__type {
  box-sizing: border-box;

  font: 700 20px/20px'Inter', sans-serif;
  color: #000000;
  background: #EDF2EC;
  border-radius: 20px;
  padding: 16px 20px 16px 12%;
  margin: 30px 12% 0;
  background-image: url("assets/accordion_btn_price.png");
  background-repeat: no-repeat;
  background-position: right 15px top 18px;
}

.price__type:last-child {
  margin-bottom: 33px;
}

.price__helper {
  font: 700 40px/50px'Inter', sans-serif;
  color: #000000;
  text-align: end;
  margin: 0;
  padding: 40px 0 38px 0;
}

.price__colored {
  color: #499A18;
}

.price__button {
  text-align: end;
}

.pricebutton_bordered {
  margin: 0 0 39px 0;
  color: #E06733;
  font: 700 20px/26px 'inika', sans-serif;
  border: 1px solid #E06733;
  border-radius: 5px;
  padding: 12px 31px;
}

.pricebutton_bordered:hover {
  background-color: #E06733;
  color: #FFFFFF;
  transition: all 1s;
  cursor: pointer;
}

.price__img-holder {
  text-align: end;
  margin-bottom: 115px;
}

.price__tariff {
  background-color: #FFFFFF;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  justify-content: space-around;
}

.contact {
  display: flex;
  justify-content: space-between;
  background-color: #EDF2EC;
  padding: 0 110px;
}

.contact__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #499A18;
  font: 700 40px/52px 'inika', sans-serif;
  padding-top: 10.2px;
}

.contact__img-holder {
  margin-top: 53px;
  width: 32.79%;
}

.contact__img {
  display: block;
  width: 100%;
}

.contact__form {
  align-items: flex-start;
  margin-top: 148px;
  width: 37%;
}

.contact__button {
  box-sizing: border-box;
  background-color: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  padding: 5px 40px 5px 20px;
  font: 400 20px/40px'Inter', sans-serif;
  letter-spacing: 0.05em;
  color: #717171;
  width: 100%;
  border: none;
  text-align: left;
  background-image: url(".//assets/accordion_btn_contacts.png");
  background-repeat: no-repeat;
  background-position: right 25px top 17px;
}

/* footer */
.footer__item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #000000;
}

.link_github, .link_school {
  text-decoration: none;
  list-style: none;
  color: #000000;
}

.link_school, .link_github, .year {
  font: 400 20px/50px'Inter', sans-serif;
}

.icon {
  display: flex;
  list-style: none;
  color: #000000;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.icon_item:last-child {
  margin-right: 0;
}

.icon_item {
  margin: 48px 30px 48px 0;
  line-height: 20px;
}

.school_link {
  margin: 36px 0;
  align-items: center;
  padding: 0;
}

.footer {
  background-color: #FFFFFF;
  padding: 0 110px;
}

/* 1000px */
@media(max-width:1000px) {
  .service__content {
    display: block;
    padding: 60px 0 40px;
  }

  .service__title {
    padding: 0 0 40px 0;
  }

  .service__buttons {
    flex-wrap: wrap;
  }
}

/* 
tablet version
*/
@media (max-width: 768px) {
  .wraper-holder {
    padding: 0 50px;
  }

  .navigation__item {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .home {
    flex-direction: row-reverse;
  }

  .home__title {
    font-size: 35px;
  }

  .home__text {
    font-size: 16px;
    line-height: 25px;
    margin: 32px 0 34px;
  }


  .home__img-holder {
    padding: 40px 0 0 6.98%;
    width: 41.92%;
  }

  .home__img {
    width: 100%;
  }

  .home__column {
    width: 51.1%;
    padding: 43px 0 70px;
  }

  .about-us {
    flex-direction: column;
    align-items: center;
  }

  .about-us__title {
    font-size: 35px;
    line-height: 45.61px;
    padding: 40px 18% 48px;
    text-align: center;
  }

  .about-us__text {
    padding: 0;
  }

  .about-us__content {
    width: auto;
  }

  .about-us__img-holder {
    padding-top: 67px;
    padding-left: 0;
    padding-bottom: 82px;
  }

  .service__content {
    display: block;
    padding: 60px 0 40px;
  }

  .service__title {
    font-size: 35px;
    line-height: 45.61px;
    padding: 0 0 40px 0;
  }

  .card {
    width: 41.92%;
    margin-bottom: 35px;
  }

  .card__title {
    padding: 10px 0;
  }

  .card__info {
    padding-bottom: 20px;
  }

  .service__items {
    padding-bottom: 32px;
  }

  .price__helper {
    font-size: 25px;
    line-height: 35px;
    padding: 142px 0 27px 5.99%;
  }

  .price__col1 {
    width: 49.70%;
  }

  .price__col2 {
    width: 44.31%;
  }

  .price__title {
    padding-bottom: 54px;
  }

  .pricebutton_bordered {
    padding-right: 28px;
    margin-bottom: 31px;
  }

  .price__img-holder {
    margin-bottom: 80px;
  }

  .contact {
    flex-direction: column;
  }

  .contact__title {
    font-size: 25px;
    padding-top: 9px;
    margin-top: 0px;
  }

  .contact__form {
    margin: 67px auto 0;
    text-align: center;
    width: 67%;
  }

  .contact__button {
    display: inline-block;
  }

  .contact__img-holder {
    order: 3;
    width: 29.94%;
    align-self: center;
    padding-top: 197px;
    padding-left: 20px;
  }

  .footer__item {
    flex-direction: column;
    align-items: center;
    line-height: 24.2px;
  }

  .git {
    padding-top: 20px;
    line-height: 24.2px;
  }

  .year {
    padding: 0 20px;
  }

  .school_link {
    margin: 0;
    line-height: 24.2px;
  }

  .link_school {
    line-height: 34px;
  }

  .icon {
    padding-bottom: 29.67px;
    margin: 0;
    padding-top: 21px;
  }

  .icon_item {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*
550px
*/
@media (max-width:650px) {
  .burger-menu {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .burger-menu span,
  .burger-menu::before,
  .burger-menu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #717171;
  }

  .burger-menu::before,
  .burger-menu::after {
    content: "";
  }

  .burger-menu::before {
    top: 0;
  }

  .burger-menu::after {
    bottom: 0;
  }

  .burger-menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .burger-menu._active span {
    transform: scale(0)translate(0px, -50%);
  }

  .burger-menu._active::before {
    top: 50%;
    transform: rotate(-45deg)translate(0px, -50%);
  }

  .burger-menu._active::after {
    bottom: 50%;
    transform: rotate(45deg)translate(0px, 50%);
  }

  .header {
    background-color: #EDF2EC;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .header__logo {
    padding: 34px 0 30px 0;
  }

  .header__navigation {
    position: fixed;
    top: 80px;
    left: -125%;
    width: 100%;
    height: 100%;

    background-color: #EDF2EC;
    padding: 30px 0 10px 10%;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .header__navigation._active {
    left: 0;

  }

  .navigation>li {
    margin: 0 0 25px 0;
  }

  .navigation>li:last-child {
    margin-bottom: 0;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navigation__link:hover {
    color: #E06733;
    font-weight: 700;
  }

  .navigation__link {
    font-size: 20px;
  }

  .price__title {
    font-size: 23px;
    line-height: 30.26px;
    text-align: center;
    padding: 25px 0 40px;
  }

  .price__img-holder {
    display: none;
  }

  .price {
    flex-direction: column;
  }

  .price__col1 {
    width: 72.3%;
    margin: 0 auto;
  }

  .price__type {
    padding: 12px 61px 16px 29px;
    margin: 17px 27px 13.92px;
    font-size: 15px;
    line-height: 20px;
  }

  .price__col2 {
    width: 100%;
  }

  .price__helper {
    font-size: 20px;
    text-align: center;
    padding: 19px 51px 20px;
  }

  .pricebutton_bordered {
    margin: 0 auto 40px;
    display: block;
    font-size: 15px;
    line-height: 19.54px;
    padding: 8px 22px;

  }
}


/* 
mobile version
*/
@media (max-width: 380px) {
  .wraper-holder {
    padding: 0 25px;
  }

  .home__title {
    font-size: 25px;
    line-height: 35px;
    text-align: start;
    margin: 0;
    padding: 0;
  }

  .button__h {
    font-size: 10px;
    padding: 7px 15px;
  }

  .home__img-holder {
    display: none;
  }

  .home__column {
    width: 100%;
    padding: 24px 0 20px;
  }

  .home__text {
    margin: 20.36px 0 20.08px;
  }

  .about-us__title {
    font-size: 25px;
    line-height: 32.57px;
    padding: 30px 0 21.55px 0;
    text-align: center;
  }

  .about-us__text {
    font-size: 15px;
    line-height: 24px;
  }

  .about-us__img-holder {
    width: 45%;
    padding: 0 0 23px 0;
  }

  .service__title {
    font-size: 25px;
    line-height: 32.57px;
    padding-bottom: 35px;
    padding-right: 143px;
    width: auto;
  }

  .service__buttons {
    flex-wrap: wrap;
  }

  .service__content {
    padding: 30px 0 28px;
  }

  .service__items:last-child {
    padding-bottom: 2px;
  }

  .button_bordered {
    font-size: 15px;
    line-height: 19.54px;
    padding: 8px 28px;
    margin: 0 10px 8px 0;
    width: 37%;
  }

  .card {
    width: 85%;
    align-items: center;
    margin: 0 8% 32px;
  }

  .card:last-child {
    margin-bottom: 27px;
  }



  .contact__title {
    font-size: 17px;
    line-height: 32.57px;
    padding: 0;
    margin: 0 0 64px 0;
  }

  .contact__form {
    margin: 0 auto;
    width: 91%;
  }

  .contact__img-holder {
    margin: 0;
    padding-top: 132px;
    padding-left: 0px;
  }

  .git {
    padding-top: 9px;
  }

  .icon {
    padding-top: 7px;
    padding-bottom: 11px;
  }
}

/* accordion */
.accordion_title {
  font: 700 20px/20px 'Inter', sans-serif;
  margin: 0;
  padding-top: 16px;
}

.accordion_text {
  border-top: 0.5px solid #AEA1A1;
  margin-top: 12px;
  padding-top: 10px;
  font: 300 10px/10px 'Inter', sans-serif;
  color: #717171;
}

.color_text {
  color: #E06733;
  font: 700 12px/20px 'Inter', sans-serif;
}

.color_price {
  color: #E06733;
  font: 700 16px/20px 'Inter', sans-serif;
}

.accordion_price {
  color: #000000;
  font: 400 12px/20px 'Inter', sans-serif;
}

.accordion_button {
  display: inline-block;
  color: #717171;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: none;
  font: 700 14px/20px 'Inter', sans-serif;
  padding: 3px 20px;

}

.price__tariff.active,
.price__type:hover {
  background-color: #D6E7D2;

}

.price__type.active {
  background-image: url("assets/accordion_btn_contact2.png");
}

.accordion_block {
  overflow: hidden;
  transition: all 1.2s ease-out;
  height: 0;
}

.price__type {
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* contact select */
.contact__form {
  position: relative;
}

.city__select {
  font: 400 16px/40px 'Inter', sans-serif;
  border-bottom: 1px solid #D9D9D9;
  color: #499A18;
  padding: 12px 6px 0;
  cursor: pointer;
}

.contact__form.selected .contact__button {
  background-color: #C1E698;
  box-shadow: none;
}

.contact__form.active.selected .contact__button {
  background-image: url(".//assets/accordion_btn_contact2.png");
}

.contact__form.active .contact__select {
  display: block;

}

.city__select:hover {
  color: #717171;
  border-bottom: 1px solid #717171;
}

.contact__select {
  display: none;
  position: absolute;
  top: 50px;
  box-sizing: border-box;
  padding: 15px 50px 30px 20px;
  width: 100%;
  background-color: #DCE9D9;
  /* display: none; */
}

.city_col1 {
  font: 400 16px/40px 'Inter', sans-serif;
  color: #000000;
  padding: 17px 0 14px 33px;
  width: 28.34%;
}

.city_col2 {
  font: 400 16px/40px 'Inter', sans-serif;
  color: #717171;
  padding: 17px 16.88% 14px 5px;
  width: 45.53%;
}

.city_button_holder {
  display: block;
  margin: 0 36% 32px 36%;
}

.button_call {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #E06733;
  background-color: #EDF2EC;
  font: 700 10px/13.3px 'Inika', sans-serif;
  color: #717171;
  padding: 5px 46px;
  text-decoration: none;

}

.button_call:hover {
  background-color: #E06733;
  color: #FFFFFF;
  transition: all 1s;
  cursor: pointer;
}

.city__cards {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}


.city__block {
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 20px;
  background-color: #EDF2EC;
  display: none;
  margin-top: 53px;
}

.city__block.active {
  display: block;
}