body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Titillium', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 2;
    color: #0c0c0c;
}
h1, h2{
    font-style: italic;
    color: #6c1a8d;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #6c1a8d;
    padding: 10px 30px;
    background-color: lavender;
}
.nav-list a{
    text-decoration: none;
}
.nav-list {
  list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
}
.nav-link:hover {
    color: #b43212;
}
.section {
    width: 50%;
}
@media (max-width: 768px) {
.section {
    width: 100%;
}
}
.user__img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60%;
    box-shadow:10px 10px 10px#6c1a8d;
    max-width: 100%;
    height: auto;
}
.profile{ 
    text-align: center;
}
.section-about{
    text-align: justify;
    border: 2px solid #6c1a8d;
    position: relative;
    padding: 20px;
}
.footer{
    display: flex;
    border: 2px solid #6c1a8d;
    background-color: lavender;
    justify-content: space-between;
    padding: 20px;
}
.footer__link {
    text-align: left;
    margin-top: 10px;
    word-spacing: 200px;
    text-decoration: none;   
}
